// #header
.container {
  width: 100%;
  margin: 0 auto;

  &--fullScreen {
    width: 90rem;
  }

  &--big {
    width: 82.5rem;
  }

  &--small {
    width: 70.5rem;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    margin: 0 auto;

    &--fullScreen, &--big, &--small {
      width: 100%;
      padding: 0 1.25rem;
    }
  }
}