@import '../scss/mixin.scss';

.corp {
  padding-bottom: 48rem;
}

.corp__title {
  font-size: 4.75rem;
  font-weight: 900;
  line-height: 1.05;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  max-width: 40rem;
  padding-bottom: 2rem;
  position: relative;
  margin-right: 4rem;

  &::after {
    @include pseudo;

    width: 21.375rem;
    height: 0.625rem;
    bottom: 0;
    top: auto;
    background-color: #2D63B9;
  }
}

.corp__wrapper {
  display: flex;
  align-items: flex-start;
}

.corp__req {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.28;
  max-width: 31rem;

  & p {
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
}

.corp__mail-link {
  font-weight: 700;
  color: black;
}

.corp__link {
  margin-top: 2.25rem;
}

.corp__image {
  display: none;
}

@media (max-width: 1440px) and (min-width: 992px) {
  .corp__title {
    font-size: 4rem;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .corp {
    padding-bottom: 32em;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .corp {
    padding-bottom: 25rem;
  }

  .corp__title {
    font-size: 3rem;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .corp__wrapper {
    display: block;
  }
}

@media (max-width: 767px) {
  .corp {
    padding-bottom: 0;
    margin-bottom: 2.625rem;
  }

  .corp__wrapper {
    display: block;
  }

  .corp__title {
    display: inline-block;
    font-size: 1.625rem;
    padding-bottom: 0.875rem;
    margin-right: 0;
    margin-bottom: 1.375rem;

    &::after {
      width: 100%;
      height: 0.25rem;
    }
  }

  .corp__req {
    font-size: 1rem;
    max-width: none;
  }

  .corp__link {
    max-width: none;
    margin-top: 3.125rem;
  }
}