.format {
  margin-bottom: 4.6875rem;
}

.format__title {
  max-width: 50rem;
  font-size: 7.5rem;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.02em;
  color: white;
  text-transform: uppercase;
  text-shadow: 0px 0px 3.75rem rgba(0, 0, 0, 0.65);
}

.format__titleWrap {
  margin-bottom: 13.3125rem;
}

.format__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.format__item, .format__body {
  display: flex;
  flex-direction: column;
}

.format__item {
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
}

.format__body {
  flex-grow: 1;
  padding: 1.5rem 1.25rem 3.125rem 1.875rem;
  background-color: white;

  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: -0.02em;

}

.format__header {
  padding: 1.875rem;
  padding-bottom: 0;
  width: 100%;
  border-top-right-radius: 4.375rem;
  border-top-left-radius: 0.3125rem;
  min-height: 21.0625rem;
  background-image: url('../assets/images/format/f1.png');
  background-size: 90%;
  background-color: white;
  background-repeat: no-repeat, no-repeat;
  background-position: center 5rem, center center;

  &--sec {
    background-image: url('../assets/images/format/f2.png');
  }

  &--third {
    background-image: url('../assets/images/format/f3.png');
  }
}

.format__item-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.46;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #2D63B9;
}

.format__sub {
  display: block;
  margin-bottom: 1.5rem;
}

.format__text {
  margin-bottom: 3.5rem;
}

.format__costWrap {
  margin-top: auto;
  padding-top: 1.25rem;
  border-top: 2px solid #2D63B9;
}

.format__cost-text {
  margin-bottom: 0.625rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
  display: block;
}

.format__cost {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1;
  color: #E48149;
}

.format__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: 0.14em;

  width: 100%;
  min-height: 5.125rem;
  background-color: #2D63B9;
  color: white;
  text-transform: uppercase;
  border-bottom-left-radius: 2.5rem;
}

@media (max-width: 1440px) and (min-width: 992px) {
  .format__title{
    font-size: 5.5rem;
  }

  .format__titleWrap {
    margin-bottom: 10rem;
  }

  .format__text {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .format__title{
    font-size: 4rem;
  }

  .format__titleWrap {
    margin-bottom: 7rem;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .format {
    margin-bottom: 3rem;
  }

  .format__title {
    font-size: 3rem;
  }

  .format__titleWrap {
    margin-bottom: 5rem;
  }

  .format__list {
    display: block;
  }

  .format__item {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .format__text {
    margin-bottom: 2.25rem;
  }
}

@media (max-width: 767px) {
  .format {
    margin-bottom: 2.5rem;
  }

  .format__title {
    font-size: 2.375rem;
    max-width: 21rem;
  }
  
  .format__titleWrap {
    padding-top: 10rem;
    padding-bottom: 3.125rem;
    margin-bottom: 0;
    background-image: url('../assets/images/mob/format-back-mob-min.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 0;
  }

  .format__list {
    display: block;
  }

  .format__item {
    margin-bottom: 1.875rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .format__body {
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-size: 1rem;
  }

  .format__sub {
    margin-bottom: 1rem;
  }

  .format__text {
    margin-bottom: 2.25rem;
  }

  .format__header {
    min-height: 18.75rem;
    background-size: contain;
    background-position: center 4.25rem, center center;
  }
}