.mainback {
  background-image:
    url('../assets/images/cloud-1-min.png'),
    url('../assets/images/cloud-1-min.png'),
    url('../assets/images/back/friend-ice-back-min.png'),
    url('../assets/images/ice-back-min.png'),
    url('../assets/images/mainbg1x-min.png');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: auto, auto, auto, auto;
  background-position:
    center 304.5rem,
    center 1150px,
    center -11.5rem,
    center 1400px,
    center top;
}
//     background-size: contain, contain, 100%, contain, contain;


.mainback--sec {
  padding-top: 7.8125rem;
  background-image:
    url('../assets/images/back/footer-back-min.png'),
    url('../assets/images/back/partner-ice-back-min.png'),
    url('../assets/images/back/corp-back-min.png'),
    url('../assets/images/back/map-ice-back-min.png'),
    url('../assets/images/back/mountain1x-min.png'),
    url('../assets/images/format/cloud-2-1x-min.png'),
    url('../assets/images/format/format-back1x-min.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position:
    center bottom,
    center 256rem,
    center 215rem,
    center -253rem,
    center 10rem,
    center -8.25rem,
    center -7.8125rem;
}
//    background-size: contain, 100%, contain, contain, contain, contain, contain;


@media (max-width: 1440px) and (min-width: 992px) {
  .mainback--sec {
    background-position:
      center bottom,
      center 256rem,
      center 200rem,
      center -253rem,
      center 10rem,
      center -8.25rem,
      center -7.8125rem;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .mainback--sec {
    background-position:
      center bottom,
      center 256rem,
      center 189rem,
      center -253rem,
      center 10rem,
      center -8.25rem,
      center -7.8125rem;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .mainback {
    background-image: none;
  }

  .mainback--sec {
    padding-top: 5rem;
      background-image:
        url('../assets/images/back/footer-back-min.png'),
        url('../assets/images/back/corp-back-min.png'),
        url('../assets/images/back/mountain1x-min.png'),
        url('../assets/images/format/format-back1x-min.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position:
        center bottom,
        center 308rem,
        center 35rem,
        center -3.8125rem;
  }
}

@media (max-width: 767px) {
  .mainback {
    background-image: none;
  }

  .mainback--sec {
    padding-top: 0;
    background-image: url('../assets/images/back/mountain1x-min.png');
    background-position: center 630px;
    background-size: auto;
  }
}