.mainback {
  background-image:
    url('../assets/images/cloud-1-min.png'),
    url('../assets/images/ice-back-min.png'),
    url('../assets/images/mainbg1x-min.png');
  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat;
  background-position:
    center 1150px,
    center 1400px,
    center top;
  background-size:
    auto,
    auto,
    auto;
}
